* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 300ms;
}

/*/////////////////////////////
            GLOBAL
/////////////////////////////*/

html,
body {
    font-family: 'Source Sans Pro', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: baseline;
    padding: 1em 0;
}

a {
    color: #000;
    text-decoration: none;
}

a,
button {
    cursor: pointer;
}

time {
    text-transform: uppercase;
}

h2,
h3,
h4 {
    font-size: 1rem;
    font-weight: 700;
}

footer {
    background-color: #202020;
    color: #ececec;
    padding: 2.3125em 0;
    text-align: center;
}

/*/////////////////////////////
        NAV CLASSES
/////////////////////////////*/

.logo-img {
    height: 1.5em;
    margin-right: .5em;
}

.logo-txt {
    font-size: .85rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.nav-links-container {
    margin-left: auto;
    display: flex;
    gap: 2em;
}

.nav-links-container li {
    list-style-type: none;
}

.nav-link-tab {
    background: transparent;
    border: none;
    font-family: inherit;
    font-weight: 700;
    text-transform: uppercase;
    font-size: .9rem;
}

.nav-link-tab:hover {
    color: hsl(122, 35%, 55%);
}


/*/////////////////////////////
        HERO CLASSES
/////////////////////////////*/

.hero {
    background-image: url(/images/hero-image.svg);
    background-position: center;
    background-size: cover;
    display: flex;
    height: 18.3125em;
    transition: 300ms;
}

.hero a {
    display: block;
    margin-top: auto;
}

.hero-container {
    color: #fff;
    display: grid;
    grid-gap: .5em;
    margin-bottom: 1.25em;
}

.hero-date {
    font-size: .75rem;
}

.hero-title {
    font-size: 2rem;
}

.hero-title a {
    color: #fff;
}

.hero-title a:hover {
    /* color: hsl(121, 100%, 75%); */
    color: hsl(122, 35%, 55%);
}

/*/////////////////////////////
        BLOG HERO CLASSES
/////////////////////////////*/

.blog-hero-container {
    display: grid;
    grid-gap: 1em;
    margin-top: 32px;
}

.blog-hero-image {
    aspect-ratio: 2;
    margin: 12px 0 35px 0;
    object-fit: cover;
    width: 100%;
}

.blog-main {
    display: grid;
    grid-gap: 1em;
}

/*/////////////////////////////
        ABOUT HERO CLASSES
/////////////////////////////*/

.about-hero {
    margin-bottom: 3.125em;
}

.about-hero-container {
    display: grid;
    grid-gap: 1em;
    margin-top: 32px;
}

.about-hero-image {
    aspect-ratio: 1;
    border-radius: 50%;
    margin: 1.26em 0;
    object-fit: cover;
    width: 11.375em;
}

/*/////////////////////////////
        MAIN CLASSES
/////////////////////////////*/

.main {
    display: grid;
    grid-gap: 1em;
}

/*/////////////////////////////
        POSTS CLASSES
/////////////////////////////*/

.posts-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(309px, 1fr));
    grid-gap: 2.5em;
    margin: 2.125em 0 2.69em 0;
}

.posts-title {
    text-align: center;
    grid-column: 1 / -1;
}

.post {
    display: grid;
    grid-gap: .75em;
}

.post-image {
    border-radius: .25em;
    width: 100%;
}

.post-date {
    font-size: .886rem;
}

.post-title {
    font-size: 1.25rem;
    font-weight: 700;
}

.post-subtext {
    color: #505050;
}

.view-more-btn {
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    font-family: inherit;
    font-size: 1em;
    font-weight: 700;
    grid-column: 1 / -1;
    margin: auto;
    width: fit-content;
}

.view-more-btn:hover {
    color: hsl(122, 35%, 55%);
}

/*/////////////////////////////
        FOOTER CLASSES
/////////////////////////////*/

.footer-title {
    color: #ECECEC;
    font-weight: 600;
}

.footer-copyright {
    color: #D7D7D7;
}


/*/////////////////////////////
UTILITY CLASSES
/////////////////////////////*/

.container {
    width: calc(100% - 2em);
    margin-left: 1em;
    margin-right: 1em;
}

.hidden {
    display: none;
}

.border {
    border: 1px solid red;
}

@media(min-width: 480px) {
    .hero {
        height: 22.5em;
    }

    .hero-container {
        margin-bottom: 2em;
    }
}

@media(min-width: 1020px) {
    .hero {
        height: 30.5em;
    }

    .hero-container {
        margin-bottom: 3.75em;
    }

    .container {
        width: clamp(700px, 95%, 1120px);
        margin-left: auto;
        margin-right: auto;
    }

    .blog-content {
        width: clamp(700px, 100%, 1000px);
        margin: auto;
    }
}