:root {
    --bg: white;
    --text: black;
    --subtext: #505050;
}

.darkmode {
    --bg: rgb(27, 27, 27);
    --text: rgb(246, 246, 246);
    --subtext: #959595;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 300ms;
}

/*/////////////////////////////
            GLOBAL
/////////////////////////////*/

html,
body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--bg);
    color: var(--text);
}

header {
    margin-top: 59px;
}

nav {
    background-color: var(--bg);
    position: fixed;
    top: 0;
    width: 100%;
}

a {
    color: var(--text);
    text-decoration: none;
}

a,
button {
    cursor: pointer;
}

time {
    text-transform: uppercase;
}

h2,
h3,
h4 {
    font-size: 1rem;
    font-weight: 700;
}

footer {
    background-color: #202020;
    color: #ececec;
    padding: 2.3125em 0;
    text-align: center;
}

/*/////////////////////////////
        NAV CLASSES
/////////////////////////////*/

.nav {
    display: flex;
    align-items: center;
    padding: 1em 0;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 1.5em;
    margin-right: .5em;
}

.logo-txt {
    font-size: .85rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.nav-links-container {
    display: none;
    align-items: center;
    gap: 2em;
    margin-left: auto;
}

.nav-links-container li {
    list-style-type: none;
}

.nav-link {
    background: transparent;
    border: none;
    font-family: inherit;
    font-weight: 700;
    text-transform: uppercase;
    font-size: .9rem;
}

.menu-btn {
    background-color: transparent;
    border: none;
    color: var(--text);
    margin-left: auto;
}

/*show menu nav*/
.show-menu {
    box-shadow: 0 0 8px black;
}

.show-menu .nav {
    display: grid;
}

.show-menu .logo-container {
    grid-column: 1 / -1;
    grid-row: 1;
}

.show-menu .nav-links-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1em;
}

.show-menu .menu-btn {
    grid-column: 1 / -1;
    grid-row: 1;
    transform: rotate(-270deg);
}

/*/////////////////////////////
        HERO CLASSES
/////////////////////////////*/

.hero {
    background-image: url("https://images.unsplash.com/photo-1610465299996-30f240ac2b1c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    background-position: center;
    background-size: cover;
    display: flex;
    height: 18.3125em;
    text-shadow: 0 0 .2em black;
}

.hero a {
    display: block;
    margin-top: auto;
}

.hero-container {
    color: #fff;
    display: grid;
    grid-gap: .5em;
    margin-bottom: 1.25em;
}

.hero-date {
    font-size: .75rem;
}

.hero-title {
    font-size: 2rem;
}

/*/////////////////////////////
        BLOG HERO CLASSES
/////////////////////////////*/

.blog-hero-container {
    display: grid;
    grid-gap: 1em;
}

.blog-hero-image {
    aspect-ratio: 2;
    margin: 12px 0 35px 0;
    object-fit: cover;
    width: 100%;
}

.blog-main {
    display: grid;
    grid-gap: 1em;
}

/*/////////////////////////////
        ABOUT HERO CLASSES
/////////////////////////////*/

.about-hero {
    margin-bottom: 3.125em;
}

.about-hero-container {
    display: grid;
    grid-gap: 1em;
    margin-top: 32px;
}

.about-hero-image {
    aspect-ratio: 1;
    border-radius: 50%;
    margin: 1.26em 0;
    object-fit: cover;
    width: 11.375em;
}

.blog-hero-container,
.about-hero-container {
    padding-top: 2em;
}

/*/////////////////////////////
        MAIN CLASSES
/////////////////////////////*/

.main {
    margin: 2em 0;
    display: grid;
    grid-gap: 1em;
}

/*/////////////////////////////
        POSTS CLASSES
/////////////////////////////*/

.posts-section {
    margin: 2.7em 0;
}

.posts-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(309px, 1fr));
    grid-gap: 2.5em;
    margin: 2.125em 0 2.69em 0;
}

.posts-title {
    text-align: center;
    grid-column: 1 / -1;
}

.post {
    display: grid;
    grid-gap: .75em;
}

.post-image {
    border-radius: .25em;
    width: 100%;
    aspect-ratio: 1.6;
    object-fit: cover;
}

.post-date {
    font-size: .886rem;
}

.post-title {
    font-size: 1.25rem;
    font-weight: 700;
}

.post-subtext {
    color: var(--subtext);
}

.view-more-btn {
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--text);
    color: var(--text);
    display: block;
    font-family: inherit;
    font-size: 1em;
    font-weight: 700;
    margin: auto;
    width: fit-content;
}

.nav-link:hover,
.nav-link:focus,
.menu-btn:hover,
a:hover .post-title,
.view-more-btn:hover {
    color: hsl(122, 35%, 55%);
}

.fa-solid {
    pointer-events: none;
}

/*/////////////////////////////
        FOOTER CLASSES
/////////////////////////////*/

.footer-title {
    color: #ECECEC;
    font-weight: 600;
}

.footer-copyright {
    color: #D7D7D7;
}


/*/////////////////////////////
UTILITY CLASSES
/////////////////////////////*/

.container {
    width: calc(100% - 2em);
    margin-left: 1em;
    margin-right: 1em;
}

.hidden {
    display: none;
}

/*/////////////////////
    TOGGLE DARKMODE
/////////////////////*/
.toggle-darkmode-btn {
    background-color: transparent;
    border: 2px solid;
    border-radius: .75em;
    color: var(--text);
    display: grid;
}

.toggle-darkmode-btn:hover {
    border: 2px solid hsl(122, 35%, 55%);
    color: hsl(122, 35%, 55%);
}

.toggle-darkmode-btn>* {
    grid-column: 1;
    grid-row: 1;
    padding: .5em;
}

.fa-sun,
.darkmode .fa-moon {
    opacity: 0;
}

.fa-moon,
.darkmode .fa-sun {
    opacity: 1;
}

/*menu icon*/

.fa-ellipsis-vertical {
    padding: .25em;
    font-size: 1.125rem;
}

@media(min-width: 480px) {
    .hero {
        height: 22.5em;
    }

    .hero-container {
        margin-bottom: 2em;
    }
}

@media(min-width: 1020px) {

    /*/////////////////////////////
        NAV CLASSES
/////////////////////////////*/

    .logo-container {
        /* border: 1px solid orange; */
        display: flex;
        align-items: center;
    }

    .logo-img {
        height: 1.5em;
        margin-right: .5em;
    }

    .logo-txt {
        font-size: .85rem;
    }

    .nav-links-container {
        align-items: center;
        display: flex;
        gap: 2em;
        margin-left: auto;
    }

    .menu-btn {
        display: none;
    }

    .hero {
        height: 30.5em;
    }

    .hero-container {
        margin-bottom: 3.75em;
    }

    .container {
        width: clamp(700px, 95%, 1120px);
        margin-left: auto;
        margin-right: auto;
    }

    .blog-content {
        width: clamp(700px, 100%, 1000px);
        margin: auto;
    }
}